.selectField-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.selectField-label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 14px;
  color: #1e1e1e;
}

.required-asterisk {
  color: red;
  font-size: inherit;
  vertical-align: middle;
}

.selectField-wrapper-small {
  width: 210px;
  color: skyblue;
}

.selectField-small {
  width: 100%;
}

.selectField-input {
  padding: 16px 14px;
  border: 1px solid #cfcfcf;
  background-color: #fff;
  font-size: 16px;
  transition: border-color 0.3s;
}

.selectField-input:focus {
  border-color: #0073e6;
  border-width: 2px;
  outline: none;

}

.input-error {
  border-color: red;
}

.selectField-error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}