.summary-container {
    display: flex;
    flex-direction: row;
    padding: 2rem;
    width: 60%;
    gap: 2rem;
  }
  
  .summary-left {
    flex: 3;
    display: flex;
    flex-direction: column;
  }
  
  .summary-right {
    flex: 2;
    background-color: #f7f7f7;
    border-left: 1px solid #ddd;
    padding: 1rem;
  }
  
  .back {
    display: flex;
    background: none;
    border: none;
    color: #007bff;
    font-size: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }
  
  .h1 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .h2 {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
  }
  
  .summary-input-area {
    margin-top: 1.5rem;
  }
  
  .summary-label {
    display: block;
    margin-bottom: 0.5rem;
    padding-left: 7px;
    font-weight: bold;
  }
  